body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    overflow-y: auto;
    max-height: 90vh;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555555;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: #333333;
    width: calc(50% - 20px);
    box-sizing: border-box;
}

hr {
    border: none;
    height: 1px;
    background-color: #cccccc;
    margin: 20px 0;
}
